* {
    margin: 0;
    padding: 0;
}



body {
    /* corpo da pagina  */
    background-color: #f9ebc4;
}

header {
    background-color: #08295e;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;

}